body{
	background-color:black;
	background-image: url(https://user-images.githubusercontent.com/26975066/30716421-d465aea2-9ece-11e7-965b-45355a1eb391.png); 
}
@media screen and (max-width: 340px) {  
img {
	content:url(images/kitten-small.png);
}	
.loaf {
	content:url(images/kittyloaf.gif);
}
}
@media screen and (min-width: 475px) {  
img {
	content:url(images/kitten-medium.png);
}
@media screen and (min-width: 675px) {
img {
	content:url(images/kitten-large.png);
}
